{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      },
      "syntax-dynamic-import"
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react","@babel/preset-typescript"],
    "env": {
      "test": {
        "plugins": ["dynamic-import-node"]
      }
    }
}
